.text-bold {
  font-weight:500;
}
.text-middle{
  vertical-align: middle;
}
.v-center{
  vertical-align: middle;
}
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.force-left{
  text-align: left!important;
}
.force-right{
  text-align: right!important;
}
.force-middle{
  vertical-align: middle!important;
}
.table>tbody>tr>td.text-middle, 
.table>tbody>tr>th.text-middle, 
.table>tfoot>tr>td.text-middle, .table>tfoot>tr>th.text-middle, .table>thead>tr>td.text-middle, .table>thead>tr>th.text-middle{
  vertical-align: middle;
}
/*支持表格滚动的div*/
.table-overflow{
  position: relative;
  min-height: .01%;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  
  thead tr th{
      text-align: center;
      background-color: #E3EEF7;/*默认表头的颜色*/
  }
  &.gray thead tr th{
    background: #DDD;
  }
  > .table {
      margin-bottom: 0;

      > thead > tr > th{
        font-weight: 400; 
        text-align: center;
        &.text-bold {
            font-weight: 500;
        }
      }
      
      >thead>tr>th>div {
        min-width: 100%;
      }
      > thead > tr > th,
      > tbody > tr > td,
      > tfoot > tr > th,
      > tfoot > tr > td {
        white-space: nowrap;
      }
  }
  &.header-wrap{
    > .table > thead >tr> th{
      white-space: normal;/*如果指令元素上有.header-wrap属性，则头部可以换行，默认不给换行*/
    }
  }

  .t-simple-cell{
    white-space: normal;
    text-align: center;
    word-break: break-all ;
    min-width: 100%;
  }

  .t-simple-cell.text-left{
    text-align:left;
  }
  .t-simple-cell.text-right{
    text-align:right;
  }
  
  /*边框处理*/
  > .table-bordered {
    border: 0;/*去除原边框*/

    > thead > tr > th:first-child,
    > tbody > tr > th:first-child,
    > tfoot > tr > th:first-child,
    > thead > tr > td:first-child,
    > tbody > tr > td:first-child,
    > tfoot > tr > td:first-child {
      border-left: 0;
    }
    > thead > tr > th:last-child,
    > tbody > tr > th:last-child,
    > tfoot > tr > th:last-child,
    > thead > tr > td:last-child,
    > tbody > tr > td:last-child,
    > tfoot > tr > td:last-child {
      border-right: 0;
    }
    > tbody > tr:last-child > th,
    > tfoot > tr:last-child > th,
    > tbody > tr:last-child > td,
    > tfoot > tr:last-child > td {
      border-bottom: 0;
    }
  }

  /*下面是选择行样式*/
  tr.active>td{
    background: #5bc0de!important;
  }
  tr.active>td{
    color:#fff;
  }
  tr.active>td .t-simple-cell i.fa{
    color:#fff;
  }
  
  /*无数据时样式*/
  .table-with-no-data{
    text-align: center;
    padding: 20px 0;
    color: #666;
  }
  /*加载中*/
  .table.loading >tbody {
    min-height: 50px;
    display: block;
  }
  .tcl-table-loading{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #999999;
    top: 50%;
  }
  /*可编辑*/
  .tcl-table-cell-editable{
      padding-top:0;
      padding-bottom:0;
      /*错误提示样式*/
      .ng-invalid{
        border:1px solid #d44305;
      }
      .ng-invalid.ng-invalid-max{
        background: #ffb392;
      }
      .ng-invalid.ng-invalid-min{
        background: #fb9fd7; 
      }
  }
}
/*拖拽列宽*/
.resizeable{ 
  position:relative;
  user-select:none;
}
.resizeEl{
    position: absolute;
  right: -10px;
  border-right: 4px solid rgba(177, 34, 34, 0);
  height: 38px;
  cursor: col-resize;
  width: 1px;
  top: -8px;
  display: inline-block;
  z-index: 3000;
} 
/*子表样式*/
.tcl-sub-table tr > th {
  background-color: #d4d4d4;
}
.tcl-sub-table-wrap{
  background: #eee;
}
.tcl-sub-table-wrap.collapsed{
  display:none;
}
.table .group-header-icon,.table .group-cell-icon{
  padding:3px;
  text-align: center;
  vertical-align: middle;
  .tcl-groupicon:before{
    content: "\f196"
  }
  .tcl-groupicon.expanded:before{
    content: "\f147";
  }
}


/*下面内容是分页样式*/
.tclTablePagination{
  .pagination{
    margin:0;
    li{
      cursor: pointer;
    }
  }
  .page-list{
    display: inline-block;
    position: relative;
    width: 60px;
    top: -12px;
    margin-left: 15px;
    padding: 0;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}

/*扩展行样式：原来有success,info,warning,danger，扩展pink,deprecate（浅底深色）以及primary-重点蓝,olive-橄榄绿，rape-油菜绿，jujube-枣色,lapis-石青色,orange-橘黄（深底浅色）*/
.table>tbody>tr.gray>td, .table>tbody>tr.gray>th, .table>tbody>tr>td.gray, .table>tbody>tr>th.gray,
.table>tfoot>tr.gray>td, .table>tfoot>tr.gray>th, .table>tfoot>tr>td.gray, .table>tfoot>tr>th.gray,
.table>thead>tr.gray>td, .table>thead>tr.gray>th, .table>thead>tr>td.gray, .table>thead>tr>th.gray {
  background-color: #eee;
}
.table>tbody>tr.unconsidered>td, .table>tbody>tr.unconsidered>th, .table>tbody>tr>td.unconsidered, .table>tbody>tr>th.unconsidered,
.table>tfoot>tr.unconsidered>td, .table>tfoot>tr.unconsidered>th, .table>tfoot>tr>td.unconsidered, .table>tfoot>tr>th.unconsidered,
.table>thead>tr.unconsidered>td, .table>thead>tr.unconsidered>th, .table>thead>tr>td.unconsidered, .table>thead>tr>th.unconsidered {
  color: #999;
}
.deprecate{
  color: #999;
  text-decoration: line-through;
}
.table>tbody>tr.deprecate>td, .table>tbody>tr.deprecate>th, .table>tbody>tr>td.deprecate, .table>tbody>tr>th.deprecate,
.table>tfoot>tr.deprecate>td, .table>tfoot>tr.deprecate>th, .table>tfoot>tr>td.deprecate, .table>tfoot>tr>th.deprecate,
.table>thead>tr.deprecate>td, .table>thead>tr.deprecate>th, .table>thead>tr>td.deprecate, .table>thead>tr>th.deprecate {
  background: #f1f1f1;
}
.pink{
  color: #CC00CC!important;
}
.table>tbody>tr.pink>td, .table>tbody>tr.pink>th, .table>tbody>tr>td.pink, .table>tbody>tr>th.pink,
.table>tfoot>tr.pink>td, .table>tfoot>tr.pink>th, .table>tfoot>tr>td.pink, .table>tfoot>tr>th.pink,
.table>thead>tr.pink>td, .table>thead>tr.pink>th, .table>thead>tr>td.pink, .table>thead>tr>th.pink {
  background-color: #FFCCFF;
}
.table>tbody>tr.primary>td, .table>tbody>tr.primary>th, .table>tbody>tr>td.primary, .table>tbody>tr>th.primary,
.table>tfoot>tr.primary>td, .table>tfoot>tr.primary>th, .table>tfoot>tr>td.primary, .table>tfoot>tr>th.primary,
.table>thead>tr.primary>td, .table>thead>tr.primary>th, .table>thead>tr>td.primary, .table>thead>tr>th.primary {
  color: #fff;
  background-color: #69aee8;
}
.table>tbody>tr.olive>td, .table>tbody>tr.olive>th, .table>tbody>tr>td.olive, .table>tbody>tr>th.olive,
.table>tfoot>tr.olive>td, .table>tfoot>tr.olive>th, .table>tfoot>tr>td.olive, .table>tfoot>tr>th.olive,
.table>thead>tr.olive>td, .table>thead>tr.olive>th, .table>thead>tr>td.olive, .table>thead>tr>th.olive {
  color: #fff;
  background-color: #009999;
}
.table>tbody>tr.rape>td, .table>tbody>tr.rape>th, .table>tbody>tr>td.rape, .table>tbody>tr>th.rape,
.table>tfoot>tr.rape>td, .table>tfoot>tr.rape>th, .table>tfoot>tr>td.rape, .table>tfoot>tr>th.rape,
.table>thead>tr.rape>td, .table>thead>tr.rape>th, .table>thead>tr>td.rape, .table>thead>tr>th.rape {
  color: #fff;
  background-color: #339966;
}

.table>tbody>tr.jujube>td, .table>tbody>tr.jujube>th, .table>tbody>tr>td.jujube, .table>tbody>tr>th.jujube,
.table>tfoot>tr.jujube>td, .table>tfoot>tr.jujube>th, .table>tfoot>tr>td.jujube, .table>tfoot>tr>th.jujube,
.table>thead>tr.jujube>td, .table>thead>tr.jujube>th, .table>thead>tr>td.jujube, .table>thead>tr>th.jujube {
  color: #fff;
  background-color: #663399;
}
.table>tbody>tr.lapis>td, .table>tbody>tr.lapis>th, .table>tbody>tr>td.lapis, .table>tbody>tr>th.lapis,
.table>tfoot>tr.lapis>td, .table>tfoot>tr.lapis>th, .table>tfoot>tr>td.lapis, .table>tfoot>tr>th.lapis,
.table>thead>tr.lapis>td, .table>thead>tr.lapis>th, .table>thead>tr>td.lapis, .table>thead>tr>th.lapis {
  color: #fff;
  background-color: #669999;
}
.table>tbody>tr.magenta>td, .table>tbody>tr.magenta>th, .table>tbody>tr>td.magenta, .table>tbody>tr>th.magenta,
.table>tfoot>tr.magenta>td, .table>tfoot>tr.magenta>th, .table>tfoot>tr>td.magenta, .table>tfoot>tr>th.magenta,
.table>thead>tr.magenta>td, .table>thead>tr.magenta>th, .table>thead>tr>td.magenta, .table>thead>tr>th.magenta {
  color: #fff;
  background-color: #CC3366;
}
.table>tbody>tr.orange>td, .table>tbody>tr.orange>th, .table>tbody>tr>td.orange, .table>tbody>tr>th.orange,
.table>tfoot>tr.orange>td, .table>tfoot>tr.orange>th, .table>tfoot>tr>td.orange, .table>tfoot>tr>th.orange,
.table>thead>tr.orange>td, .table>thead>tr.orange>th, .table>thead>tr>td.orange, .table>thead>tr>th.orange {
  color: #fff;
  background-color: #FF9933;
}
/*quota表，四表合一*/
.table-fixed-columns {  
    overflow: hidden;  
    border-bottom: 1px solid #ddd;
    .table-overflow {
        margin-bottom:0;
    }
    .tclTable{
      margin-bottom: 0;
    }
    .table-overflow tr td .t-simple-cell{
        word-break: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .fixed-head .table thead tr th {
        vertical-align: middle; 
    }
    .fixed-head tbody{
      display: none; 
    }

    .fixed-head .table-content,
    .fixed-head .fixed-left,
    .fixed-body .fixed-left{
      overflow-x: hidden;
    }
    .fixed-body{
    clear: both;
    }
    .fixed-left{
      float:left; 
      border-right-color: #666; 
      width:20%;      
    }
    .table-content{
      float:left;
      width:80%;  
    }
    .fixed-body .fixed-left{
      /*height:360px;*/
    }
    .fixed-body .table-content{
      /*height:360px;  */    
      overflow-y: scroll;
    }
    .fixed-body .table-overflow,
    .fixed-head .table-overflow{
      border-top: 0;
      border-bottom:0;
    }
    .fixed-body .fixed-left thead,
    .fixed-body .table-content thead{
    display: none;
    } 
    .table-footer{
      clear:both;  
    }

    .fixed-body .fixed-left .table > tbody > tr:first-child td,
    .fixed-body .table-content .table > tbody > tr:first-child td{
      border-top:0;
    }

    .table>tbody>tr>td, .table>tbody>tr>th,
    .table>tfoot>tr>td, .table>tfoot>tr>th,
    .table>thead>tr>td, .table>thead>tr>th{
        padding-left:0;
        padding-right: 0;
    }
    .fixed-head .table thead tr th[rowspan='3']{
        height:113px;
    }
    .fixed-head .table thead tr th[rowspan='2']{
        height:79px;
    }
    td .t-simple-cell{
        height: 20px;
    }
}




.table-besides-columns{
  clear: both;
  .table{
    margin-bottom: 0;
  }
  .tcl-table-loading{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #999999;
    top: 50%;
  }
  /*初始为2、8分*/
  .pinLeft{
      width:20%;
      float:left;
      border-bottom: 1px solid #ddd;
  }
  .table-content{
    width:80%;
    float:left;
    overflow-x:scroll;
    border-right: 1px solid #ddd;
  }
  .table thead tr th{
    text-align: center;
    font-weight: 400;
  }
  .table thead tr th div.tcl-header-cell,.table tbody tr td div.t-simple-cell{
    min-width: 100%;
    max-width: 100%;
    height: 22px; 
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .pinLeft .table thead tr th:last-child,.pinLeft .table tbody tr td:last-child{
    border-right-color:#333333;
  }
  .table tbody tr td{
    text-align: center;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
  .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding:8px 0;
  }
  .table thead tr th[rowspan='2'] div.tcl-header-cell{
      height: 62px;
      line-height: 62px;
  }
  .table thead tr th[rowspan='3'] div.tcl-header-cell{
      height: 102px;
      line-height: 102px;
  }
  .table tbody tr td.merge-cell .t-simple-cell{
        white-space: normal;
        word-break: break-all;
        overflow: inherit;
  }
}